<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Heart Disease Percent</title>
  
</head>

<body>
 <div class="login">
	<h1 style="color:Violet;">Heart disease prediction</h1>
    <form action="{{ url_for('predict')}}"method="post">
    <!-- <form action="http://localhost:5000/predict" method="post"> -->
        <p>Please select your Sex:</p>
        <input type="radio" name="sex" value='1'> Male<br>
        <input type="radio" name="sex" value='0'> Female<br>
        
        <p>Please select your ChestPainTyp:</p>
        <select name="chestpaintyp" id="">
            <option value='3'>TA: Typical Angina</option>
            <option value='1'>ATA: Atypical Angina</option>
            <option value='2'>NAP: Non-Anginal Pain</option>
            <option value='0'>ASY: Asymptomatic</option>
        </select>

        <p>Please select your RestingECG</p>
        <select name="restingecg" id="">
            <option value='1'>Normal</option>
            <option value='2'>ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)</option>
            <option value='0'>LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria</option>
        </select>
        
        <p>Please select your ExerciseAngina</p>
        <p><input type="radio" name="exerciseangina" value='1'/>Yes</p>
        <p><input type="radio" name="exerciseangina" value='0'/>No</p>
        
        <p>Please select your ST_Slope</p>
        <select name="st_slope" id="">
            <option value='2'>Up: upsloping</option>
            <option value='1'>Flat: flat</option>
            <option value='0'>Down: downsloping</option>
        </select>

        <p>Please Enter your Age <input type="Text" name="age"/></p>
        <p>Please Enter your RestingBP <input type="Text" name="restingbp"/></p>
        <p>Please Enter your Cholesterol <input type="Text" name="cholesterol"/></p>
        <p>Please Enter your FastingBS <input type="Text" name="fastingbs"/></p>
        <p>Please Enter your MaxHR <input type="Text" name="maxhr"/></p>
        <p>Please Enter your Oldpeak <input type="Text" name="oldpeak"/></p>
        

        <button type="submit" value="submit">submit</button>
    </form>
     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <!-- <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="percent Cholesterol" placeholder="Percent population Cholesterol" required="required" /><br>
        <input type="text" name="percent Oldpeak" placeholder="Percent population Oldpeak" required="required" /><p>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict percent population with heart disease</button></p>
    </form> -->

   <!-- <br>
   <br> -->
   <h4 style="color:black">{{ prediction_text }} </h4>

 </div>


</body>
</html>